.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17px;
  background-image: url(@/assets/day.webp);
  border-radius: 7%;
  margin-top: 25px;

  &__main {
    display: flex;
    align-items: center;
    font-size: 30px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
  }

  &__other {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;

    div {
      display: flex;
      padding-bottom: 5px;

      img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
      }

      &:last-of-type {
        justify-self: center;
      }
    }
  }
}
