.spinner {
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: fixed;
  top: 306px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-top: 5px solid orange;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
