.header {
  width: inherit;
  height: 43px;
  z-index: 1;
  position: absolute;
  text-align: end;
  background-color: #ec6e4c;

  button {
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-left: auto;
    border: none;
    background-color: transparent;
    background-size: cover;
    background-image: url("@/assets/settings.svg");
    cursor: pointer;
  }
}
